%p Hello,
%p
  = @leave_application.user.name
  just applies a #{@leave_application.leave_type} leave application.
%p
  It's start_time is #{@leave_application.start_time} and end_time is #{@leave_application.end_time}.
= link_to "Go check it. :)", verify_backend_leave_application_url(nil, @leave_application)
