.panel.panel-info
  .panel-heading
    %h4.panel-title= t("captions.backend/overtimes.verify")

  %table.table

    %tr
      %th= t_attribute :user, Overtime
      %td= current_object.user.name

    %tr
      %th= t_attribute(:start_time, current_object)
      %td= l current_object.start_time, format: :long

    %tr
      %th= t_attribute(:end_time, current_object)
      %td= l current_object.end_time, format: :long

    = tr_by_object :hours

    = tr_by_object :description

    %tr
      %th= t_attribute(:status, current_object)
      %td= Overtime.human_enum_value(:status, current_object.status)

    %tr
      %th= t_attribute(:sign_date, current_object)
      %td= current_object.sign_date ? l(current_object.sign_date, format: :long) : nil

    = tr_by_object :manager, :convert_user_object_to_name, :name

    %tr
      %th= t_attribute(:created_at, current_object)
      %td= l current_object.created_at, format: :long

    %tr
      %th= t_attribute(:updated_at, current_object)
      %td= l current_object.updated_at, format: :long

- if current_object.pending? or current_object.approved?
  = render "form", action: :verify