%h2= t("captions.devise/registrations.edit")

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

  = f.error_notification

  .form-inputs
    = f.input :login_name, required: false
    = f.input :name, required: true, autofocus: true
    = f.input :email, required: false
    = f.input :password, autocomplete: "off", hint: t('devise.hints.leave_blank'), required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, hint: t('devise.hints.confirm_password'), required: true

  .form-actions
    = f.button :submit
