%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ "type": "button", "data-toggle": "collapse", "data-target": "#nav-collapse", "aria-expanded": "false" }
        %span.sr-only toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t("misc.app_title"), root_path, class: "navbar-brand"

    #nav-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if (can? :view, LeaveApplication) && !current_user.try(:contractor?)
          = render partial: 'shared/leave_application_dropdown'
        - if current_user.try(:contractor?)
          = render partial: 'shared/leave_applocation_dropdown_contractor'

        - if can? :manage, User
          %li.dropdown
            = dropdown_title t("nav.backend")
            %ul.dropdown-menu
              %li= link_to t("title.backend/users.index"), backend_users_path
              %li= link_to t("title.backend/users.new"), new_backend_user_path

        - if can? :manage, User
          %li.dropdown
            = dropdown_title t("nav.manage")
            %ul.dropdown-menu
              %li= link_to t("title.backend/leave_applications.new"), new_backend_leave_application_path
              %li= link_to t("title.backend/leave_applications.index"),
                backend_leave_applications_path(status: :pending)
              %li= link_to t("captions.backend/leave_applications.statistics"),
                statistics_backend_leave_applications_path(year: specific_year, month: specific_month, role: "")
              %li= link_to t("title.backend/leave_times.index"),
                backend_leave_times_path

        - if can? :manage, User
          %li.dropdown
            = dropdown_title t("nav.leave_times")
            %ul.dropdown-menu
              %li= link_to t("title.backend/leave_times.new"), new_backend_leave_time_path
              %li= link_to t("title.backend/leave_times.batch_append_quota"),batch_new_backend_leave_times_path
              %li= link_to t("title.backend/overtime.index"), backend_overtime_index_path

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            = dropdown_title current_user.login_name
            %ul.dropdown-menu
              %li= link_to t("title.devise/registrations.edit"), edit_user_registration_path
              %li= link_to t("title.devise/sessions.destroy"),
                destroy_user_session_path, method: :delete
        - else
          %li= link_to t("title.devise/sessions.new"), new_user_session_path
