%h2= t("captions.backend/leave_times.index") + "::" + t("simple_form.options.leave_time.leave_type.#{leave_type}")

= type_selector 'leave_type', t("title.backend/leave_times.change_type"), LeaveTime::LEAVE_POOLS_TYPES.map {|type| [t("simple_form.options.leave_time.leave_type." + type), type] }, leave_type

= link_to t("title.backend/leave_times.new"), new_backend_leave_time_path(leave_type: leave_type), class: 'btn btn-primary'

= leave_times_table current_collection, [:leave_type] do |lt|
  - link_to t("title.backend/leave_times.edit"), edit_backend_leave_time_path(lt), class: "btn btn-warning"

