%h2= t("captions.backend/leave_times.index")

%table.table
  %thead
    %tr
      %th._25= t_attribute(:name, User)
      %th._25= "補休" + t("activerecord.attributes.leave_time.quota")
      %th._25= "補休" + t("activerecord.attributes.leave_time.usable_hours")
      %th._25= t("captions.tools")
  %tbody
    - current_collection.each do |leave_time|
      %tr
        %td._25= t_value :name, User.find_by(id: leave_time.user_id)
        %td._25= t_value :quota, leave_time
        %td._25= t_value :usable_hours, leave_time
        %td._25= link_to t("actions.backend/bonus_leave_time_logs.index"),
          backend_bonus_leave_time_logs_path,
          class: "btn btn-warning"
