%h2= t("captions.backend/overtime.index")

.panel.panel-default
  .panel-heading= t('panel_header.filter_conditions')
  .panel-body
    = simple_form_for @q, url: url_for(action: :index), method: :get do |f|
      = f.hidden_field :s, value: params.dig(:q, :s)
      = f.input :status_eq, collection: Overtime.enum_attributes_for_select(:statuses),
        include_blank: t('.plz_select_status'), required: false, wrapper_html: { class: 'col-md-6' }
      = f.input :user_id_eq, collection: @users, required: false,
        include_blank: t('.plz_select_user'), label_method: :name, value_method: :id,
        wrapper_html: { class: 'col-md-6' }
      = f.input :end_time_gteq, wrapper_html: { class: 'date-input col-md-6' },
        input_html: { data: { input: 'datepicker', format: 'Y/m/d' } }, required: false
      = f.input :start_time_lteq, wrapper_html: { class: 'date-input col-md-6' },
        input_html: { data: { input: 'datepicker', format: 'Y/m/d' } }, required: false

      .text-right
        = f.button :submit, class: 'btn-warning'

- if current_collection.any?
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr.info
        %th.text-right
          = sort_link(@q, :id, '#')
        %th.text-center= t_attribute :user, Overtime
        %th.text-right
          = sort_link(@q, :start_time)
        %th.text-right
          = sort_link(@q, :end_time)
        %th.text-right
          = sort_link(@q, :hours)
        %th.text-center= t_attribute :status, Overtime
        %th.text-center= t("captions.tools")
    %tbody
      - current_collection.each do |leave|
        %tr
          %td.text-right= leave.id
          %td.text-center= t_value :user, leave, :convert_user_object_to_name, :name
          %td.text-right= l leave.start_time, format: :long
          %td.text-right= l leave.end_time, format: :long
          %td.text-right= hours_to_humanize(leave.hours)
          %td.text-center
            - colored_state_label(leave.status)
          %td.text-center
            - if leave.pending?
              = link_to t("title.backend/overtime.verify"),
                verify_backend_overtime_path(leave),
                class: "btn btn-warning"
            - else
              = link_to t("title.backend/overtime.show"),
                backend_overtime_path(leave),
                class: "btn btn-primary"
- else
  = no_data_alert

.paginate
  = paginate current_collection
