%h2= t("captions.backend/users.#{action_name}")

= simple_form_for [:backend, current_object] do |f|
  = f.input :name, required: true
  = f.input :login_name, required: true
  = f.input :email, required: true
  = f.input :join_date, required: true
  = f.input :leave_date, include_blank: true
  = f.input :password, required: true, hint: ("密碼長度須 #{@minimum_password_length} 字以上" if @minimum_password_length)
  = f.input :password_confirmation, required: true
  = f.input :role, collection: User::ROLES, include_blank: false
  = f.button :submit


