%h2= t("captions.backend/users.#{action_name}")

= simple_form_for [:backend, current_object] do |f|
  = f.input :name, required: true
  = f.input :login_name, required: true
  = f.input :email, required: true
  = f.input :join_date, required: true
  = f.input :leave_date, include_blank: true
  - if action_name == "new"
    = f.input :password, required: true, hint: ("密碼長度須 #{@minimum_password_length} 字以上" if @minimum_password_length)
    = f.input :password_confirmation, required: true
  - else
    = f.input :password, required: false, hint: ("欲修改密碼才需要填寫, 密碼長度須 #{@minimum_password_length} 字以上" if @minimum_password_length)
    = f.input :password_confirmation, required: false
  = f.input :role, collection: User.enum_attributes_for_select(:roles), include_blank: false
  = f.button :submit
