%table.table
  %caption= t('menu_labels.annual_leave_time', year: Date.today.year)
  %tr
    %th
    %th= t_attribute(:quota, LeaveTime)
    %th= t_attribute(:usable_hours, LeaveTime)
    %th= t_attribute(:used_hours, LeaveTime)
  - leave_times.each do |item|
    %tr
      %th= t_value(:leave_type, LeaveTime, item.leave_type)
      %td= item.quota
      %td= item.usable_hours
      %td= item.used_hours

