- if current_collection.any?
  %table.table
    %tr
      - scope = "#{t_attributes}.user"
      %th #
      %th= t('name', scope: scope)
      %th= t('login_name', scope: scope)
      %th= t('email', scope: scope)
      %th= t('role', scope: scope)
      %th= t('join_date', scope: scope)
      %th= t('menu_labels.tools')

    - current_collection.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.login_name
        %td= user.email
        %td= t("#{t_options}.user.role.#{user.role}")
        %td= user.join_date
        %td 
          = link_to 'show', backend_user_path(user)
          = link_to 'edit', edit_backend_user_path(user)
          = link_to 'delete', backend_user_path(user), method: :delete, data: { confirm: t('warnings.confirm_delete') }

- else
  = no_data_alert

= paginate current_collection
