%h2= t("captions.backend/users.index")

/ .panel.panel-default
/   .panel-heading= t('panel_header.filter_conditions')
/   .panel-body
/     = simple_form_for @q, url: url_for(action: :index), method: :get do |f|
/       = f.hidden_field :s, value: params.dig(:q, :s)
/       = f.input :leave_type_eq, collection: LeaveTime.enum_attributes_for_select(:leave_types),
/         include_blank: t('.plz_select_leave_type'), required: false,
/         wrapper_html: { class: 'col-md-6' }
/       = f.input :user_id_eq, collection: @users, required: false,
/         include_blank: t('.plz_select_user'), label_method: :name, value_method: :id,
/         wrapper_html: { class: 'col-md-6' }
/       = f.input :effective_true, collection: [[I18n.t('activerecord.attributes.leave_time.state.effective'), true], [I18n.t('activerecord.attributes.leave_time.state.expired'), false]],
/         include_blank: t('.plz_select_effectiveness_state'), required: false,
/         wrapper_html: { class: 'col-md-6' }

/       .text-right
/         = f.button :submit, class: 'btn-warning'

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr.info
      %th.text-right
        = sort_link(@q, :id)
      %th.text-center
        = sort_link(@q, :name)
      %th.text-center
        = sort_link(@q, :login_name)
      %th.text-center
        = sort_link(@q, :email)
      %th.text-center
        = sort_link(@q, :role)
      %th.text-right
        = sort_link(@q, :join_date)
      %th.text-center= t("captions.tools")

  %tbody
    - current_collection.each do |user|
      %tr
        %td.text-right= user.id
        %td.text-center= user.name
        %td.text-center= user.login_name
        %td.text-center= user.email
        %td.text-center= User.human_enum_value(:role, user.role)
        %td.text-right= l user.join_date, format: :detailed
        %td.text-center
          = link_to t("title.backend/users.show"),
            backend_user_path(user),
            class: "btn btn-primary"
          = link_to t("title.backend/users.edit"),
            edit_backend_user_path(user),
            class: "btn btn-warning"
          = link_to t("title.backend/users.destroy"),
            backend_user_path(user),
            class: "btn btn-danger",
            method: :delete,
            data: { confirm: t("warnings.confirm_delete") }
