%h2= t("captions.backend/users.index")

- if current_collection.any?
  %table.table
    %thead
      %tr
        %th.text-center #
        %th.text-center= t_attribute(:name, User)
        %th.text-center= t_attribute(:login_name, User)
        %th.text-center= t_attribute(:email, User)
        %th.text-center= t_attribute(:role, User)
        %th.text-center= t_attribute(:join_date, User)
        %th.text-center= t("captions.tools")

    %tbody
      - current_collection.each do |user|
        %tr
          %td.text-center= t_value :id, user
          %td.text-center= t_value :name, user
          %td.text-center= t_value :login_name, user
          %td.text-center= t_value :email, user
          %td.text-center= User.human_enum_value(:roles, user.role)
          %td.text-center= t_value :join_date, user, :convert_time_value, :year_date
          %td.text-center
            = link_to t("title.backend/leave_times.new"),
              new_backend_leave_time_path(user_id: user.id),
              class: "btn btn-primary"
            = link_to t("title.backend/users.show"),
              backend_user_path(user),
              class: "btn btn-primary"
            = link_to t("title.backend/users.edit"),
              edit_backend_user_path(user),
              class: "btn btn-warning"
            = link_to t("title.backend/users.destroy"),
              backend_user_path(user),
              class: "btn btn-danger",
              method: :delete,
              data: { confirm: t("warnings.confirm_delete") }

- else
  = no_data_alert
