- if current_collection.any?
  %table.table
    %tr
      %th #
      %th= t_attribute(:name, User)
      %th= t_attribute(:login_name, User)
      %th= t_attribute(:email, User)
      %th= t_attribute(:role, User)
      %th= t_attribute(:join_date, User)
      %th= t("captions.tools")

    - current_collection.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.login_name
        %td= user.email
        %td= t_value(:role, User, user.role)
        %td= user.join_date
        %td
          = link_to t("actions.backend/users.show"), backend_user_path(user)
          = link_to t("actions.backend/users.edit"), edit_backend_user_path(user)
          = link_to t("actions.backend/users.destroy"), backend_user_path(user),
            method: :delete,
            data: { confirm: t("warnings.confirm_delete") }

- else
  = no_data_alert

= paginate current_collection
