%table.table
  = tr_by_object :name
  = tr_by_object :login_name
  = tr_by_object :email
  = tr_by_object :role, User, current_object.role
  = tr_by_object :join_date
  = tr_by_object :leave_date

- if current_object.fulltime?
  = render "leave_time", { leave_times: @leave_times }
