%h2= t("captions.leave_applications.index", year: specific_year)

.panel.panel-default
  .panel-heading= t('panel_header.filter_conditions')
  .panel-body
    = simple_form_for @q, url: url_for(action: :index), method: :get do |f|
      = f.hidden_field :s, value: params.dig(:q, :s)
      = f.input :status_eq, collection: LeaveApplication.enum_attributes_for_select(:statuses),
        include_blank: t('.plz_select_status'), required: false, wrapper_html: { class: 'col-md-6' }
      = f.input :leave_type_eq, collection: LeaveApplication.enum_attributes_for_select(:leave_types),
        include_blank: t('.plz_select_leave_type'), required: false, wrapper_html: { class: 'col-md-6' }
      = f.input :end_date_gteq, wrapper_html: { class: 'date-input col-md-6' },
        input_html: { data: { input: 'datepicker', format: 'YYYY/MM/DD' } }, required: false
      = f.input :start_date_lteq, wrapper_html: { class: 'date-input col-md-6' },
        input_html: { data: { input: 'datepicker', format: 'YYYY/MM/DD' } }, required: false

      .text-right
        = f.button :submit, class: 'btn-warning'

- if current_collection.any?
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr.info
        %th.text-right
          = sort_link(@q, :id, '#')
        %th.text-center= t_attribute :leave_type, LeaveApplication
        %th.text-right
          = sort_link(@q, :start_time)
        %th.text-right
          = sort_link(@q, :end_time)
        %th.text-right
          = sort_link(@q, :hours)
        %th.text-center= t_attribute :status, LeaveApplication
        %th.text-center= t("captions.tools")
    %tbody
      - current_collection.each do |leave|
        %tr
          %td.text-right= leave.id
          %td.text-center= LeaveApplication.human_enum_value(:leave_type, leave.leave_type)
          %td.text-right= l leave.start_time, format: :long
          %td.text-right= l leave.end_time, format: :long
          %td.text-right= hours_to_humanize(leave.hours)
          %td.text-center
            - colored_state_label(leave.status)
          %td.tools
            = link_to t("title.leave_applications.show"),
              leave_application_path(leave),
              class: "btn btn-primary"
            - if leave.may_revise? and !leave.happened?
              = link_to t("title.leave_applications.edit"),
                edit_leave_application_path(leave),
                class: "btn btn-warning"
            - if leave.may_cancel? and !leave.happened?
              = link_to t("title.leave_applications.cancel"),
                cancel_leave_application_path(leave),
                class: "btn btn-danger",
                method: :put,
                data: { confirm: t("warnings.confirm_cancel")}

- else
  = no_data_alert

.paginate
  = paginate current_collection
  