%h2= t("captions.leave_applications.index", year: Time.now.year)

.status-selector.row
  .col-md-3.col-sm-3.col-xs-6
    .form-group
      %label{:for=>"status"} 假別
      = select_tag "status",
        options_for_select( LeaveApplication::STATUS.map{ |type|  [I18n.t("simple_form.options.leave_application.status.#{type}"), type]}.to_h, params[:status]), class: "form-control"

- if current_collection.any?
  %table.table
    %thead
      %tr
        %th._11= t_attribute(:leave_type, LeaveApplication)
        %th._20= t_attribute(:start_time, LeaveApplication)
        %th._20= t_attribute(:end_time, LeaveApplication)
        %th._11= t_attribute(:hours, LeaveApplication)
        %th._11= t_attribute(:status, LeaveApplication)
        %th._27= t("captions.tools")
    %tbody
      - current_collection.each do |leave|
        %tr
          %td._11= t_value :leave_type, leave, :translate_text_value
          %td._20= t_value :start_time, leave, :convert_time_value, :full
          %td._20= t_value :end_time, leave, :convert_time_value, :full
          %td._11= t_value :hours, leave
          %td._11= t_value :status, leave, :translate_text_value
          %td._27
            = link_to t("title.leave_applications.show"),
              leave_application_path(leave),
              class: "btn btn-primary"
            - unless leave.canceled?
              = link_to t("title.leave_applications.edit"),
                edit_leave_application_path(leave),
                class: "btn btn-warning"
              = link_to t("title.leave_applications.cancel"),
                cancel_leave_application_path(leave),
                class: "btn btn-danger",
                method: :put,
                data: { confirm: t("warnings.confirm_cancel")}
- else
  = no_data_alert
.paginate
  = paginate current_collection
