%h2= t("captions.leave_applications.index", year: specific_year)

= render "shared/year_type_selector"

- if current_collection.any?
  %table.table
    %thead
      %tr
        %th.type= t_attribute(:leave_type, LeaveApplication)
        %th.date= t_attribute(:start_time, LeaveApplication)
        %th.date= t_attribute(:end_time, LeaveApplication)
        %th.text-right= t_attribute(:hours, LeaveApplication)
        %th.status= t_attribute(:status, LeaveApplication)
        %th.tools= t("captions.tools")
    %tbody
      - current_collection.each do |leave|
        %tr
          %td.type= LeaveApplication.human_enum_value(:leave_type, leave.leave_type)
          %td.date= l leave.start_time, format: :long
          %td.date= l leave.end_time, format: :long
          %td.text-right= t_value :hours, leave
          %td.status= LeaveApplication.human_enum_value(:status, leave.status)
          %td.tools
            = link_to t("title.leave_applications.show"),
              leave_application_path(leave),
              class: "btn btn-primary"
            - if leave.may_revise?
              = link_to t("title.leave_applications.edit"),
                edit_leave_application_path(leave),
                class: "btn btn-warning"
            - if leave.may_cancel?
              = link_to t("title.leave_applications.cancel"),
                cancel_leave_application_path(leave),
                class: "btn btn-danger",
                method: :put,
                data: { confirm: t("warnings.confirm_cancel")}
  .paginate
    = paginate current_collection
- else
  = no_data_alert
