%h2= t("captions.personal.leaves_list")
- if current_collection.any?
  %table.table
    %thead
      %tr
        %th= t_attribute(:leave_type, LeaveApplication)
        %th= t_attribute(:start_time, LeaveApplication)
        %th= t_attribute(:end_time, LeaveApplication)
        %th= t_attribute(:hours, LeaveApplication)
        %th= t_attribute(:status, LeaveApplication)
        %th= t("captions.tools")
    %tbody
      - current_collection.each do |leave|
        %tr
          %td= t_value :leave_type, leave, :translate_text_value
          %td= t_value :start_time, leave, :convert_time_value, :abbr
          %td= t_value :end_time, leave, :convert_time_value, :abbr
          %td= t_value :hours, leave
          %td= t_value :status, leave, :translate_text_value
          %td
            = link_to t("actions.leave_applications.show"),
              leave_application_path(leave)
            - unless leave.canceled?
              = link_to t("actions.leave_applications.edit"),
                edit_leave_application_path(leave)
              = link_to t("actions.leave_applications.cancel"),
                cancel_leave_application_path(leave),
                method: :put,
                data: { confirm: t("warnings.confirm_cancel")}
- else
  = no_data_alert

= paginate current_collection

