%table.table
  = tr_by_object :leave_type
  %tr
    %th= t_attribute(:start_time, current_object)
    %td= convert_time_format t_value(:start_time, current_object), :full
  %tr
    %th= t_attribute(:end_time, current_object)
    %td= convert_time_format t_value(:end_time, current_object), :full
  = tr_by_object :hours
  = tr_by_object :description
  = tr_by_object :status
  = tr_by_object :sign_date
  = tr_by_object :manager_id
  - unless current_object.comment.nil?
    = tr_by_object :comment

