%table.table
  = tr_by_object :leave_type
  = tr_by_object :start_time
  = tr_by_object :end_time
  = tr_by_object :description
  = tr_by_object :status
  = tr_by_object :sign_date
  = tr_by_object :manager_id

