%table.table
  %h2= t("captions.personal.leave_times", year: Time.zone.today.year)
  %tr
    %th
    %th= t_attribute :quota, LeaveTime
    %th= t_attribute :usable_hours, LeaveTime
    %th= t_attribute :used_hours, LeaveTime
  - leave_times.each do |item|
    - if /sick|personal/ === item.leave_type
      - next
    - else
      %tr
        %th= t_value :leave_type, item, :translate_text_value
        %td= item.quota
        %td= item.usable_hours
        %td= item.used_hours
