%table.table
  %thead
    %th.type 假別
    %th.hours= t_attribute :quota, LeaveTime
    %th.hours= t_attribute :usable_hours, LeaveTime
    %th.hours= t_attribute :used_hours, LeaveTime
  %tbody
    - leave_times.each do |item|
      - unless item.leave_type =~ /sick/
        %tr
          %th.type= t_value :leave_type, item, :translate_text_value
          %td.hours= item.quota
          %td.hours= item.usable_hours
          %td.hours= item.used_hours
