%h2= t("captions.backend/leave_applications.index")

= render "shared/year_type_selector"

- if current_collection.any?
  %table.table
    %thead
      %tr
        %th.text-center= t_attribute :user, LeaveApplication
        %th.text-center= t_attribute :leave_type, LeaveApplication
        %th.text-center= t_attribute :start_time, LeaveApplication
        %th.text-center= t_attribute :end_time, LeaveApplication
        %th.text-right= t_attribute :hours, LeaveApplication
        %th.text-center= t_attribute :status, LeaveApplication
        %th.text-center= t("captions.tools")
    %tbody
      - current_collection.each do |leave|
        %tr
          %td.text-center= t_value :user, leave, :convert_user_object_to_name, :name
          %td.text-center= LeaveApplication.human_enum_value(:leave_type, leave.leave_type)
          %td.text-center= l leave.start_time, format: :long
          %td.text-center= l leave.end_time, format: :long
          %td.text-right= t_value :hours, leave
          %td.text-center= LeaveApplication.human_enum_value(:status, leave.status)
          %td.text-center
            - if leave.pending?
              = link_to t("title.backend/leave_applications.verify"),
                verify_backend_leave_application_path(leave),
                class: "btn btn-warning"
            - else
              = link_to t("title.backend/leave_applications.show"),
                verify_backend_leave_application_path(leave),
                class: "btn btn-primary"
- else
  = no_data_alert

.paginate
  = paginate current_collection

