%h2= t("captions.backend.leaves_list")

.employee-leaves-status-selector
  = button_tag t('simple_form.options.leave_application.status.pending'),
    class: "btn btn-default col-md-1 col-xs-12 pending"
  = button_tag t('simple_form.options.leave_application.status.approved'),
    class: "btn btn-default col-md-1 col-xs-12 approved"
  = button_tag t('simple_form.options.leave_application.status.rejected'),
    class: "btn btn-default col-md-1 col-xs-12 rejected"
  = button_tag t('simple_form.options.leave_application.status.canceled'),
    class: "btn btn-default col-md-1 col-xs-12 canceled"

- if current_collection.any?
  %table.table
    %thead
      %tr
        %th= t_attribute :user, LeaveApplication
        %th= t_attribute :leave_type, LeaveApplication
        %th= t_attribute :start_time, LeaveApplication
        %th= t_attribute :end_time, LeaveApplication
        %th= t_attribute :hours, LeaveApplication
        %th= t_attribute :status, LeaveApplication
        %th= t("captions.tools")
    %tbody
      - current_collection.each do |leave|
        %tr
          %td= t_value :user, leave, :convert_user_object_2_name, :name
          %td= t_value :leave_type, leave, :translate_text_value
          %td= t_value :start_time, leave, :convert_time_value, :abbr
          %td= t_value :end_time, leave, :convert_time_value, :abbr
          %td= t_value :hours, leave
          %td= t_value :status, leave, :translate_text_value
          %td
            - if leave.pending?
              = link_to t("actions.backend/leave_applications.verify"),
                verify_backend_leave_application_path(leave),
                class: "btn btn-warning"
            - else
              = link_to t("actions.backend/leave_applications.read"),
                verify_backend_leave_application_path(leave),
                class: "btn btn-primary"
- else
  = no_data_alert

= paginate current_collection

