%h2= t("captions.backend/leave_applications.statistics", year: specific_year, month: specific_month)


.panel.panel-default
  .panel-body
    .year-mon-selector
      .row
        .col-md-6.col-sm-6.col-xs-12
          .form-group
            %label{:for=>"year"} Year
            = select_tag "year",
              options_for_select(2016 .. Time.now.year, specific_year),
              class: "form-control"

        .col-md-6.col-sm-6.col-xs-12
          .form-group
            %label{:for=>"month"} Month
            = select_tag "month", options_for_select(1..12, specific_month),
              class: "form-control"


- if @statistics.columns[0].present?
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr.info        
        %th.text-center.name=  t_attribute(:name, User)
        - @statistics.columns.each do |leave_type|
          %th.text-right= LeaveTime.human_enum_value(:leave_type, leave_type.header)
        %th.text-right 總計
    
    %tbody
      - @statistics.rows.each do |sum|
        %tr
          %td.text-center.name= sum.header
          - sum.data.each do |data|
            - if data.present?
              %td.text-right= hours_to_humanize data.sum
            - else
              %td.text-right - 
          %td.text-right= hours_to_humanize sum.total

            
- else
  = no_data_alert
