%table.table
  %tr
    %th= t_attribute(:leave_type, current_object)
    %td= trans t_value(:leave_type, current_object), :leave_type
  %tr
    %th= t_attribute(:start_time, current_object)
    %td= convert_time_format t_value(:start_time, current_object), :full
  %tr
    %th= t_attribute(:end_time, current_object)
    %td= convert_time_format t_value(:end_time, current_object), :full
  = tr_by_object :hours
  = tr_by_object :description
  %tr
    %th= t_attribute(:status, current_object)
    %td= trans t_value(:status, current_object), :status
  %tr
    %th= t_attribute(:sign_date, current_object)
    %td= convert_time_format t_value(:sign_date, current_object), :full
  %tr
    %th= t_attribute(:manager_id, current_object)
    %td= current_object.manager.name
= render "form"
