!!! 5
%html
  %head
    %title= page_title
    = csrf_meta_tags
    = stylesheet_link_tag "application", "pages/#{controller_path}", "data-turbolinks-track": "reload", media: "all"
    = javascript_include_tag "application", "pages/#{controller_path}", "data-turbolinks-track": "reload"
    = yield :additional_script

  %body
    #nav
      = render "shared/navigation"
    #wrap
      = render "shared/flash"
      .container
        = yield
    = render "shared/footer"
